section.about
  .container
    +blockHeader("What we do", "story about us", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam atque aliquam laborum, alias voluptates non maxime quaerat provident, accusamus dolorem assumenda dolor quibusdam ut. Ducimus voluptatibus est nulla alias voluptatum.")