section.blog 
  .container 
    +blockHeader("Our stories", "latest blog")
    .blog-list 
      .blog-item
        .blog-media
          img.blog-media-photo(src="./images/img-blog1.png")
          .blog-media-calendar 
            span 15
            span Jan 
        .blog-content 
          .blog-content-title Lorem ipsum dolor sit amet consectetur.
          .blog-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit eligendi molestias atque voluptatem tenetur!
        .blog-follow 
          .blog-follow-item
            <i class="fas fa-eye"></i>
            span 542
          .blog-follow-item 
            <i class="fas fa-comment-dots"></i>
            span 17
      .blog-item
        .blog-media
          img.blog-media-photo(src="./images/img-blog1.png")
          .blog-media-calendar 
            span 15
            span Jan 
        .blog-content 
          .blog-content-title Lorem ipsum dolor sit amet consectetur.
          .blog-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit eligendi molestias atque voluptatem tenetur!
        .blog-follow 
          .blog-follow-item
            <i class="fas fa-eye"></i>
            span 542
          .blog-follow-item 
            <i class="fas fa-comment-dots"></i>
            span 17
      .blog-item
        .blog-media
          img.blog-media-photo(src="./images/img-blog1.png")
          .blog-media-calendar 
            span 15
            span Jan 
        .blog-content 
          .blog-content-title Lorem ipsum dolor sit amet consectetur.
          .blog-content-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo velit eligendi molestias atque voluptatem tenetur!
        .blog-follow 
          .blog-follow-item
            <i class="fas fa-eye"></i>
            span 542
          .blog-follow-item
            <i class="fas fa-comment-dots"></i>
            span 17
            

