footer.footer
  .container
    .footer-inner
      .footer-contact
        .footer-contact-brand MoGo
        .footer-contact-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        .footer-contact-follow
          span 15k
          span followers
        .footer-contact-social 
          span follow us:
          .footer-contact-list 
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-dribbble"></i>
            <i class="fab fa-tumblr"></i>
        form.footer-contact-form(action="#" method="#")
          input(type='text' placeholder="Your Email..")
          button.btn subscribe

      .footer-blog
        .footer-head blogs
        .footer-blog-list 
          .footer-blog-item 
            img.footer-blog-photo(src="./images/img-blogs1.png")
            .footer-blog-content 
              a.footer-blog-title(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, officia?
              .footer-blog-time Jan 9, 2016
          .footer-blog-item 
            img.footer-blog-photo(src="./images/img-blogs1.png")
            .footer-blog-content 
              a.footer-blog-title(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, officia?
              .footer-blog-time Jan 9, 2016
          .footer-blog-item 
            img.footer-blog-photo(src="./images/img-blogs1.png")
            .footer-blog-content 
              a.footer-blog-title(href="#") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, officia?
              .footer-blog-time Jan 9, 2016

      .footer-instagram
        .footer-head instagram
        .footer-instagram-list
          img(src="./images/img-instagram1.png")
          img(src="./images/img-work1.png")
          img(src="./images/img-work2.png")
          img(src="./images/img-work5.png")
          img(src="./images/img-work4.png")
          img(src="./images/img-work1.png")
          img(src="./images/img-work6.png")
          img(src="./images/img-work1.png")
          img(src="./images/img-work2.png")
        button.footer-instagram-more View more photos
    .footer-signature © 2016 MoGo free PSD template by
    span Laaqiq