header
  .container
    .header-top
      .nav 
        .nav-brand
          a(href="index.html") MoGo
        .nav-menu
          +navItem("about")
          +navItem("service")
          +navItem("work")
          +navItem("blog")
          +navItem("contact")
          .nav-icon
          .nav-icon 
    .header-content
    .header-bottom