header.header
  .container
    .header-top
      .nav 
        .nav-brand
          a(href="index.html") MoGo
        ul.nav-menu
          li.nav-item
            a(href="#" class="nav-link") about
          li.nav-item
            a(href="#" class="nav-link") service
            li.nav-item
            a(href="#" class="nav-link") work
            li.nav-item
            a(href="#" class="nav-link") blog
            li.nav-item
            a(href="#" class="nav-link") contact
            li.nav-item
            a(href="#" class="nav-icon")
              i.fa.fa-shopping-cart
            li.nav-item
            a(href="#" class="nav-icon")
              i.fa.fa-search

    .header-content
    .header-bottom