section.number
  .container
    .number-inner
      .number-item
        p.number-head 42
        p.number-content web design protects
      .number-item
        p.number-head 123
        p.number-content happy client protects
      .number-item
        p.number-head 15
        p.number-content award winner
      .number-item
        p.number-head 99
        p.number-content cup of coffee
      .number-item
        p.number-head 24
        p.number-content members