section.number
  .container
    .number-inner
      .number-item
        p.number-head(data-set= 42) 0
        p.number-content web design protects
      .number-item
        p.number-head(data-set=123) 0
        p.number-content happy client protects
      .number-item
        p.number-head(data-set=15) 0
        p.number-content award winner
      .number-item
        p.number-head(data-set=99) 0
        p.number-content cup of coffee
      .number-item
        p.number-head(data-set=24) 0
        p.number-content members