section.people 
  .container 
    +blockHeader("Happy clients", "what people say")
    .people-list 
      .people-item 
        img.people-avatar(src="./images/img-people4.png")
        .people-content 
          .people-content-name Matthew Dix
          .people-content-position Graphic Design 
          .people-content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .people-item 
        img.people-avatar(src="./images/img-people1.png")
        .people-content 
          .people-content-name Matthew Dix
          .people-content-position Graphic Design 
          .people-content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .people-item 
        img.people-avatar(src="./images/img-people2.png")
        .people-content 
          .people-content-name Matthew Dix
          .people-content-position Graphic Design 
          .people-content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      .people-item 
        img.people-avatar(src="./images/img-people3.png")
        .people-content 
          .people-content-name Matthew Dix
          .people-content-position Graphic Design 
          .people-content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
