section.service
  .container
      +blockHeader("We work with", "amazing services")
      .service-inner 
        .service-item 
          <i class="far fa-clock"></i>
          .service-content
            .service-content-title Photography
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
        .service-item 
          <i class="fas fa-chart-line"></i>
          .service-content
            .service-content-title web desgin
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
        .service-item 
          <i class="fas fa-tv"></i>
          .service-content
            .service-content-title creativity
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
        .service-item 
          <i class="fas fa-book-open"></i>
          .service-content
            .service-content-title seo
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
        .service-item 
          <i class="fas fa-home"></i>
          .service-content
            .service-content-title css/html
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
        .service-item 
          <i class="fas fa-expand"></i>
          .service-content
            .service-content-title digital
            .service-content-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, repellendus!
          



