section.team 
  .container 
    +blockHeader("Who are we", "meet our team", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.")
    .team-member 
      .team-member-item
        .team-member-inner.active
          img.team-member-photo(src="./images/img-team1.png")
          .team-overlay
            .team-overlay-list 
              <i class="fab fa-facebook-f active"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-instagram"></i>
        .team-content
          span mathew dix 
          span graphic design
      .team-member-item
        .team-member-inner
          img.team-member-photo(src="./images/img-team2.png")
          .team-overlay
            .team-overlay-list 
              <i class="fab fa-facebook-f active"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-instagram"></i>
        .team-content
          span Christopher Campbell
          span Branding/UX design
      .team-member-item
        .team-member-inner
          img.team-member-photo(src="./images/img-team3.png")
          .team-overlay
            .team-overlay-list 
              <i class="fab fa-facebook-f active"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-instagram"></i>
        .team-content
          span Michael Fertig  
          span Developer

