section.wedo
  .container
    +blockHeader("Service", "what we do", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ")
    .wedo-inner
      .wedo-media
        img.wedo-media-image(src="./images/img-wedo.png")
      .wedo-accordion
        .wedo-accordion-item.active
          .wedo-accordion-select
            <i class="far fa-image"></i>
            span photographer
            <i class="fas fa-chevron-up"></i>
          p.wedo-accordion-option Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .wedo-accordion-item
          .wedo-accordion-select
            <i class="fas fa-sliders-h"></i>
            span photographer
            <i class="fas fa-chevron-up"></i>
          p.wedo-accordion-option Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .wedo-accordion-item
          .wedo-accordion-select
            <i class="fas fa-bullseye"></i>
            span photographer
            <i class="fas fa-chevron-up"></i>
          p.wedo-accordion-option Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


