.header {
  min-height: 100rem;
  background: linear-gradient(to bottom,rgba($primary-color, 0.8), rgba($secondary-color, 0.8)), url("../images/img-header-bg.jpg") no-repeat center / cover;

  padding-top: 30px;
  &-top {
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      color: white;

    margin-bottom: 170px;

    }
    .nav-brand {
      font-weight: bold;
      font-size: 3rem;
    }
    .nav-menu {
      display: flex;
      text-transform: uppercase;
    }
    .nav-item {
      border-bottom: 4px solid transparent;

      transition: all 0.2s linear;
    }
    .nav-item:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
    .nav-item:not(:first-child) {
      margin-left: 50px;
    }
    .nav-link {
      padding-bottom: 10px;
      display: inline-block;
    }
    .nav-toggle {
      display: none;
    }
  }
  &-content {
    color: white;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-content-head {
    text-transform: capitalize;
    font-size: 7.2rem;
    font-family: $secondary-font;

    margin-bottom: 32px;
  }
  &-content-title {
    font-size: 15rem;
    font-weight: bold;

    max-width: 850px;
    text-align: center;

    padding-bottom: 74px;
    margin-bottom: 50px;

    position: relative;
    &:before {
      content: "";
      bottom: 0;
      @include position("x");
      @include size(60px, 4px);

      background-color: #fff;

      position: absolute;

    }
  }
  &-content-action {
    .link {
      display: inline-block;

      text-transform: uppercase;
      font-family: $primary-font;
      font-weight: bold;

      padding: 12px 32px;
  
      color: white;
  
      background-color: transparent;
      border: 4px solid white;

      margin-bottom: 158px;
    }
  }
  &-bottom {
    padding-bottom: 30px;
  }
  &-list {
    display: flex;
    margin-left: -30px;

    & > * {
      width: calc(100% / 4 - 30px);
      margin-left: 30px;
    }
  }
  &-item {
    color: rgba(white, 0.5);
    transition: all 0.2s linear;
  }
  &-item.active,
  &-item:hover {
    color: white;
  }
  &-item-bar.active:before,
  &-item:hover &-item-bar:before {
    background-color: $primary-color;
  }
  &-item-bar {
    height: 3px;
    width: 100%;
    background-color: rgba(white, 0.5);

    margin-bottom: 26px;
    position: relative;

    &:before {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 30%;

      background-color: transparent;
      position: absolute;

      transition: all 0.2s linear;
    }
  }
  &-item-content {

    span:first-child {
      font-weight: bold;
      font-size: 2.4rem;
    }

    span:last-child {
      font-size: 1.8rem;
      text-transform: uppercase;

      margin-left: 10px;
    }
  }
}
@media screen and (max-width: 1023px) {
  .header {
    min-height: unset;
    .nav {
      margin-bottom: 90px;
    }
    .nav-item:not(:first-child) {
      margin-left: 40px;
    }
    &-content-title {
      font-size: 13rem;
    }
    .link {
      margin-bottom: 100px;
    }
    &-bottom {
      padding-bottom: 50px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    &-content-head {
      font-size: 4.2rem;
    }
    &-content-title {
      font-size: 6rem;

      padding-bottom: 50px;
    }
    .link {
      margin-bottom: 55px;
    }
    &-item-content {
      text-align: center;
    }
    &-item-content span:last-child {
      display: none;
    }
    &-item-content span:first-child {
      text-align: center;
    }
    .nav {
      margin-bottom: 65px;
    }
    .nav-toggle {
      display: block;
      position: relative;
      font-size: 2.5rem;
      color: #eee;
      z-index: 999;
      cursor: pointer;
    }
    .nav-menu {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      transform: translateX(100%);

      padding-top: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: #ccc;
      z-index: 10;

      transition: all 0.2s linear;
    }
    .nav-menu.active {
      transform: translateX(0);
    }
    .nav-item:not(:first-child) {
      margin-left: 0px;
    }
    .nav-item {
      border-bottom: none;
    }
    .nav-link {
      width: 100%;
      padding: 10px;

      transition: all 0.2s linear;
    }
    .nav-link:active {
      background-color: rgba($secondary-color, 0.7);
    }
    .nav-icon{
      display: inline-block;
      padding: 10px;
      transition: all 0.2s linear;
      &:active {
        color: rgba($secondary-color, 0.7);
      }
    }
  }
}
