.header {
  min-height: 100rem;
  background: linear-gradient(to bottom,rgba($primary-color, 0.8), rgba($secondary-color, 0.8)), url("../images/img-header-bg.jpg") no-repeat center / cover;

  padding-top: 30px;
  &-top {
    .nav {
      display: flex;
      justify-content: space-between;
      color: white;

    margin-bottom: 170px;

    }
    .nav-brand {
      font-weight: bold;
      font-size: 3rem;
    }
    .nav-menu {
      display: flex;
      text-transform: uppercase;
    }
    .nav-item:not(:first-child) {
      margin-left: 50px;
    }
  }
  &-content {
    color: white;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-content-head {
    text-transform: capitalize;
    font-size: 7.2rem;
    font-family: $secondary-font;

    margin-bottom: 32px;
  }
  &-content-tilte {
    font-size: 15rem;
    font-weight: bold;
  }
}
