.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}
.block-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-caption {
    font-family: $secondary-font;
    font-size: 2.4rem;

    margin-bottom: 15px;
  }
  &-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;

    padding-bottom: 45px;
    margin-bottom: 45px;

    position: relative;
    &:after {
      content: "";
      bottom: 0;
      @include position("x");
      @include size(60px, 4px);

      background-color: $primary-color;
    }
  }
  &-desc{
    font-size: 1.5rem;
    font-family: $third-font;
    color: $text-color;
    line-height: 1.6;

    text-align: center;
    max-width: 960px;

    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .block-header {
    &-desc {
      margin-bottom: 50px;
    }
  }
}

