.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}
.block-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-caption {
    font-family: $secondary-font;
    font-size: 2.4rem;

    margin-bottom: 15px;
  }
  &-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;

    padding-bottom: 45px;
    margin-bottom: 45px;

    position: relative;
    &:after {
      content: "";
      bottom: 0;
      @include position("x");
      @include size(60px, 4px);

      background-color: $primary-color;
    }
  }
  &-desc{
    font-size: 1.5rem;
    font-family: $third-font;
    color: $text-color;
    line-height: 1.6;

    text-align: center;
    max-width: 960px;

    margin-bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .block-header {
    &-desc {
      margin-bottom: 50px;
    }
  }
}

.slider-wrapper {
  width: 100%;
  // position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  color: #ccc;
}
.slider-prev {
  display: inline-block;
  margin-left: 10px;
  font-size: 3rem;
  cursor: pointer;
}
.slider-next {
  display: inline-block;
  margin-right: 10px;
  font-size: 3rem;
  cursor: pointer;
}
.slider-list {
  width: 100%;
  // position: relative;
}
.slider-item {
  display: flex;
  align-items: center;
}
.slider-image {
  display: inline-block;
  color: $third-color;
  font-size: 5.5rem;

  padding: 40px;
  border: 4px solid  $third-color;
  margin-left: 60px;
}
.slider-content {
  padding-left: 60px;
  padding-right: 60px;
}
.slider-content-desc {
  font-family: $third-font;
  line-height: 1.4;
  font-size: 2.4rem;
  font-style: italic;

}
.slider-content-name {
  margin-top: 10px;
}
.slider-content-name span:first-child{
  display: inline-block;
  @include size(60px, 4px);

  background-color: $primary-color;
}
.slider-content-name span:last-child{
  margin-left: 10px;
  font-size: 2.4rem;
  font-family: $secondary-font;
  color: black;
}

@media screen and (max-width: 767px) {
  .slider-item {
    display: block;
  }
  .slider-content {
    padding: 0 25px;
  }
  .slider-image {
    margin-left: 30px;
    margin-bottom: 20px;

    padding: 20px;
  }
  .slider-content-name {
    padding-bottom: 5px;
  }
}

// BlockPhotos
.work-item {
  position: relative;

  cursor: pointer;
}
.work-overlay {
  @include positionFull;
  
  background: linear-gradient(to bottom,rgba($primary-color, 0.8), rgba($secondary-color, 0.8));

  opacity: 0;
  transition: all 0.2s linear;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  color: white;
  & > * {
    margin-bottom: 10px;
  }
}
.work-overlay-title {
  text-transform: uppercase;
}
.work-overlay-desc {
  font-family: $third-font;
  font-size: 1.5rem;
  font-style: italic;
}
.work-item:hover {
  .work-overlay {
    opacity: 1;
  }
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
