.team {
  padding-top: 100px;
  padding-bottom: 100px;
  &-member {
    display: flex;
    margin-left: -30px;
    & > * {
      width: calc(100%/3 - 30px);
      margin-left: 30px;
    }
  }
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-content span:first-child {
    text-transform: uppercase;

    padding-top: 28px;
    padding-bottom: 14px;
  }
  &-content span:last-child {
    text-transform: capitalize;
    font-family: $third-font;
    font-size: 1.5rem;
    font-style: italic;
    color: $text-color;
  }
  &-member-inner {
    position: relative;
    transition: all 0.2s linear;
  }
  &-member-inner:before { 
    content: "";
    @include positionFull;

    background-color: $third-color;
    z-index: -1;

    transition: all 0.2s linear;
  }
  &-member-inner.active,
  &-member-inner:hover {
    transform: translate(-1rem, -1rem);
    .team-overlay {
      opacity: 1;
    }
    &:before {
      transform: translate(1rem, 1rem);
    }
  }
  &-overlay {
    @include positionFull;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom,rgba($primary-color, 0.8), rgba($secondary-color, 0.8));

    opacity: 0;
    transition: all 0.2s linear;
  }
  &-overlay-list {
    display: inline-flex;
    i {
      width: 25%;
      
      font-size: 2.5rem;
      color: $primary-color;

      padding: 15px;
      background-color: $secondary-color;

      cursor: pointer;
      transition: 0.2s all linear;
    }
    i:not(:first-child) {
      border-left: 1px solid $primary-color;
    }
  }
  &-overlay-list i.active,
  &-overlay-list i:hover {
    color: white;
    background-color: $primary-color;
  }
}
@media screen and (max-width: 767px) {
  .team {
    padding-top: 50px;
    padding-bottom: 50px;
    &-member {

      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 3rem;
      grid-template-columns: unset;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > *{
        scroll-snap-align: start;
        width: 100%;
      }
    }
    &-member-item {
      margin-bottom: 20px;
    }
    &-member-inner.active {
      transform: unset;
      .team-overlay {
        opacity: 1;
      }
      &:before {
        transform: unset;
      }
    }
  }
}

