html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

img {
  display: block;
  max-width: 100%; }

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .block-header-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 15px; }
  .block-header-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 45px;
    margin-bottom: 45px;
    position: relative; }
    .block-header-title:after {
      content: "";
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background-color: #ea8383; }
  .block-header-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999;
    line-height: 1.6;
    text-align: center;
    max-width: 960px;
    margin-bottom: 100px; }

@media screen and (max-width: 767px) {
  .block-header-desc {
    margin-bottom: 50px; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ccc; }

.slider-wrapper {
  width: 100%;
  overflow: hidden; }

.slider-prev {
  display: inline-block;
  margin-left: 10px;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .slider-prev:active {
    color: #999; }

.slider-next {
  display: inline-block;
  margin-right: 10px;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .slider-next:active {
    color: #999; }

.slider-list {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); }

.slider-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slider-image {
  display: inline-block;
  color: #95e1d3;
  font-size: 5.5rem;
  padding: 40px;
  border: 4px solid #95e1d3;
  margin-left: 60px; }

.slider-content {
  padding-left: 60px;
  padding-right: 60px; }

.slider-content-desc {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 2.4rem;
  font-style: italic; }

.slider-content-name {
  margin-top: 10px; }

.slider-content-name span:first-child {
  display: inline-block;
  width: 60px;
  height: 4px;
  background-color: #ea8383; }

.slider-content-name span:last-child {
  margin-left: 10px;
  font-size: 2.4rem;
  font-family: "Kaushan Script", cursive;
  color: black; }

@media screen and (max-width: 767px) {
  .slider {
    position: relative; }
  .slider-item {
    display: block; }
  .slider-content {
    padding: 0 25px; }
  .slider-image {
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 3rem;
    padding: 20px; }
  .slider-content-name {
    padding-bottom: 5px; }
  .slider-prev {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(-300%);
    transform: translateX(-300%);
    z-index: 1; }
  .slider-next {
    position: absolute;
    right: 0;
    bottom: 0; } }

.work-item {
  position: relative;
  cursor: pointer; }

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 131, 131, 0.8)), to(rgba(239, 213, 137, 0.8)));
  background: linear-gradient(to bottom, rgba(234, 131, 131, 0.8), rgba(239, 213, 137, 0.8));
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white; }
  .work-overlay > * {
    margin-bottom: 10px; }

.work-overlay-title {
  text-transform: uppercase; }

.work-overlay-desc {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic; }

.work-item:hover .work-overlay {
  opacity: 1; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

@media screen and (max-width: 767px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px; } }

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 131, 131, 0.8)), to(rgba(239, 213, 137, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(234, 131, 131, 0.8), rgba(239, 213, 137, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover;
  padding-top: 30px; }
  .header-top .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    color: white;
    margin-bottom: 170px; }
  .header-top .nav-brand {
    font-weight: bold;
    font-size: 3rem; }
  .header-top .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase; }
  .header-top .nav-item {
    border-bottom: 4px solid transparent;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .header-top .nav-item:hover {
    color: #efd589;
    border-color: #efd589; }
  .header-top .nav-item:not(:first-child) {
    margin-left: 50px; }
  .header-top .nav-link {
    padding-bottom: 10px;
    display: inline-block; }
  .header-top .nav-toggle {
    display: none; }
  .header-content {
    color: white;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header-content-head {
    text-transform: capitalize;
    font-size: 7.2rem;
    font-family: "Kaushan Script", cursive;
    margin-bottom: 32px; }
  .header-content-title {
    font-size: 15rem;
    font-weight: bold;
    max-width: 850px;
    text-align: center;
    padding-bottom: 74px;
    margin-bottom: 50px;
    position: relative; }
    .header-content-title:before {
      content: "";
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background-color: #fff; }
  .header-content-action .link {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 12px 32px;
    color: white;
    background-color: transparent;
    border: 4px solid white;
    margin-bottom: 158px; }
  .header-bottom {
    padding-bottom: 30px; }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; }
    .header-list > * {
      width: calc(100% / 4 - 30px);
      margin-left: 30px; }
  .header-item {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .header-item.active, .header-item:hover {
    color: white; }
  .header-item-bar.active:before,
  .header-item:hover .header-item-bar:before {
    background-color: #ea8383; }
  .header-item-bar {
    height: 3px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 26px;
    position: relative; }
    .header-item-bar:before {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 30%;
      background-color: transparent;
      position: absolute;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear; }
  .header-item-content span:first-child {
    font-weight: bold;
    font-size: 2.4rem; }
  .header-item-content span:last-child {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-left: 10px; }

@media screen and (max-width: 1023px) {
  .header {
    min-height: unset; }
    .header .nav {
      margin-bottom: 90px; }
    .header .nav-item:not(:first-child) {
      margin-left: 40px; }
    .header-content-title {
      font-size: 13rem; }
    .header .link {
      margin-bottom: 100px; }
    .header-bottom {
      padding-bottom: 50px; } }

@media screen and (max-width: 767px) {
  .header-content-head {
    font-size: 4.2rem; }
  .header-content-title {
    font-size: 6rem;
    padding-bottom: 50px; }
  .header .link {
    margin-bottom: 55px; }
  .header-item-content {
    text-align: center; }
  .header-item-content span:last-child {
    display: none; }
  .header-item-content span:first-child {
    text-align: center; }
  .header .nav {
    margin-bottom: 65px; }
  .header .nav-toggle {
    display: block;
    position: relative;
    font-size: 2.5rem;
    color: #eee;
    z-index: 999;
    cursor: pointer; }
  .header .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    text-align: center;
    padding-top: 20px;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .header .nav-menu.active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .header .nav-item:not(:first-child) {
    margin-left: 0px; }
  .header .nav-item {
    border-bottom: none; }
  .header .nav-link {
    width: 100%;
    padding: 10px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .header .nav-link:active {
    background-color: rgba(239, 213, 137, 0.7); }
  .header .nav-icon {
    display: inline-block;
    padding: 10px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .header .nav-icon:active {
      color: rgba(239, 213, 137, 0.7); } }

.about {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; }
  .about-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    position: relative;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .about-item:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #95e1d3;
      z-index: -1;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear; }
    .about-item.active, .about-item:hover {
      -webkit-transform: translate(-1rem, -1rem);
      transform: translate(-1rem, -1rem); }
      .about-item.active .about-overlay, .about-item:hover .about-overlay {
        opacity: 1;
        visibility: visible; }
      .about-item.active:before, .about-item:hover:before {
        -webkit-transform: translate(1rem, 1rem);
        transform: translate(1rem, 1rem); }
  .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 131, 131, 0.8)), to(rgba(239, 213, 137, 0.8)));
    background: linear-gradient(to bottom, rgba(234, 131, 131, 0.8), rgba(239, 213, 137, 0.8));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .about-content {
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem; }
  .about-icon {
    font-size: 1.8rem; }

@media screen and (max-width: 767px) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px; }
    .about-media {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 3rem;
      -ms-grid-columns: unset;
      grid-template-columns: unset; }
      .about-media::-webkit-scrollbar {
        display: none;
        width: 0; }
      .about-media > * {
        scroll-snap-align: start;
        width: 100%; }
    .about-item.active, .about-item:hover {
      -webkit-transform: unset;
      transform: unset; }
      .about-item.active:before, .about-item:hover:before {
        -webkit-transform: unset;
        transform: unset; } }

.number {
  padding: 0;
  background-color: #95e1d3;
  color: white; }
  .number-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .number-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 85px;
    border-left: 1px solid #b5eae0; }
    .number-item:last-child {
      border-right: 1px solid #b5eae0; }
  .number-head {
    font-weight: bold;
    font-size: 7.2rem;
    margin-bottom: 30px; }
  .number-content {
    text-transform: uppercase; }

@media screen and (max-width: 1023px) {
  .number-item {
    padding-top: 50px;
    padding-bottom: 50px; }
  .number-head {
    font-size: 5.2rem; } }

@media screen and (max-width: 767px) {
  .number {
    padding: 0; }
    .number-inner {
      display: block; }
    .number-item {
      border-left: 0; }
    .number-item:last-child {
      border-right: 0; } }

.service {
  padding-top: 100px;
  padding-bottom: 100px; }
  .service-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    position: relative; }
  .service-inner:before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 2px;
    width: 100%;
    background-color: #eee; }
  .service-item {
    padding: 45px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .service-item i {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #95e1d3;
    font-size: 3rem; }
  .service-content {
    padding-left: 30px; }
  .service-content-title {
    text-transform: uppercase;
    margin-bottom: 20px; }
  .service-content-desc {
    color: #999;
    font-size: 1.5rem;
    line-height: 1.4; }
  .service .block-header-title {
    margin-bottom: 0px; }

@media screen and (max-width: 1023px) {
  .service-inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px; }
  .service-inner:before {
    opacity: 0;
    visibility: hidden; }
  .service-item {
    padding-top: 30px;
    padding-bottom: 30px; } }

@media screen and (max-width: 767px) {
  .service {
    padding-top: 50px;
    padding-bottom: 50px; }
    .service-inner {
      display: block; }
    .service-content {
      padding-left: 15px; } }

.design {
  min-height: 858px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8))), url(../images/img-device-bg.png) no-repeat center/cover;
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.8)), url(../images/img-device-bg.png) no-repeat center/cover;
  padding-top: 100px;
  position: relative; }
  .design-photo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -90px;
    -webkit-transform: translateX(-42%);
    transform: translateX(-42%); }

@media screen and (max-width: 767px) {
  .design {
    min-height: 500px;
    padding-top: 60px; }
    .design-photo {
      max-width: 80%;
      bottom: -45px; } }

.wedo {
  padding-top: 100px;
  padding-bottom: 100px; }
  .wedo-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 30px; }
    .wedo-inner > * {
      width: 50%; }
  .wedo-media-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-accordion-item {
    margin-bottom: 10px; }
  .wedo-accordion-item:last-child {
    margin-bottom: 0px; }
  .wedo-accordion-select {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 10px;
    cursor: pointer;
    border: 1px solid #ccc; }
    .wedo-accordion-select i:first-child {
      color: #95e1d3;
      font-size: 3rem; }
    .wedo-accordion-select i:last-child {
      margin-left: auto;
      color: #ccc; }
    .wedo-accordion-select span {
      display: inline-block;
      text-transform: uppercase;
      padding-left: 10px; }
  .wedo-accordion-option {
    display: none;
    padding: 20px 10px;
    color: #999;
    font-size: 1.5rem;
    line-height: 1.6;
    overflow-y: auto;
    height: 15rem;
    border: 1px solid #ccc;
    border-top: 0; }
    .wedo-accordion-option::-webkit-scrollbar {
      width: 0.6em; }
    .wedo-accordion-option::-webkit-scrollbar-track {
      background-color: #f5f5f5; }
    .wedo-accordion-option::-webkit-scrollbar-thumb {
      background-color: #95e1d3; }
  .wedo-accordion-option.active {
    display: block; }

@media screen and (max-width: 767px) {
  .wedo {
    padding-top: 50px;
    padding-bottom: 50px; }
    .wedo-inner {
      display: block; }
      .wedo-inner > * {
        width: 100%; }
    .wedo-media {
      margin-bottom: 10px; } }

.quote {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f8f8f8; }

.team {
  padding-top: 100px;
  padding-bottom: 100px; }
  .team-member {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px; }
    .team-member > * {
      width: calc(100%/3 - 30px);
      margin-left: 30px; }
  .team-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .team-content span:first-child {
    text-transform: uppercase;
    padding-top: 28px;
    padding-bottom: 14px; }
  .team-content span:last-child {
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    color: #999; }
  .team-member-inner {
    position: relative;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .team-member-inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #95e1d3;
    z-index: -1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .team-member-inner.active, .team-member-inner:hover {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }
    .team-member-inner.active .team-overlay, .team-member-inner:hover .team-overlay {
      opacity: 1; }
    .team-member-inner.active:before, .team-member-inner:hover:before {
      -webkit-transform: translate(1rem, 1rem);
      transform: translate(1rem, 1rem); }
  .team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(234, 131, 131, 0.8)), to(rgba(239, 213, 137, 0.8)));
    background: linear-gradient(to bottom, rgba(234, 131, 131, 0.8), rgba(239, 213, 137, 0.8));
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .team-overlay-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .team-overlay-list i {
      width: 25%;
      font-size: 2.5rem;
      color: #ea8383;
      padding: 15px;
      background-color: #efd589;
      cursor: pointer;
      -webkit-transition: 0.2s all linear;
      transition: 0.2s all linear; }
    .team-overlay-list i:not(:first-child) {
      border-left: 1px solid #ea8383; }
  .team-overlay-list i.active,
  .team-overlay-list i:hover {
    color: white;
    background-color: #ea8383; }

@media screen and (max-width: 767px) {
  .team {
    padding-top: 50px;
    padding-bottom: 50px; }
    .team-member {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 3rem;
      -ms-grid-columns: unset;
      grid-template-columns: unset; }
      .team-member::-webkit-scrollbar {
        display: none;
        width: 0; }
      .team-member > * {
        scroll-snap-align: start;
        width: 100%; }
    .team-member-item {
      margin-bottom: 20px; }
    .team-member-inner.active {
      -webkit-transform: unset;
      transform: unset; }
      .team-member-inner.active .team-overlay {
        opacity: 1; }
      .team-member-inner.active:before {
        -webkit-transform: unset;
        transform: unset; } }

.brand {
  background-color: #f8f8f8;
  padding: 65px 5px; }

@media screen and (max-width: 767px) {
  .brand {
    padding: 35px 5px; } }

.work {
  padding-top: 100px; }
  .work-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "h1 h2 h3 h4" "h5 h6 h3 h7"; }
  .work-item:first-child {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: h1; }
  .work-item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: h2; }
  .work-item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: h3; }
  .work-item:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: h4; }
  .work-item:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: h5; }
  .work-item:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: h6; }
  .work-item:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-area: h7; }

@media screen and (max-width: 767px) {
  .work {
    padding-top: 50px; }
  .work-overlay {
    display: none; }
  .work-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "h1 h2" "h3 h4" "h3 h7" "h5 h6"; } }

.quote2 {
  padding-top: 70px;
  padding-bottom: 70px; }

.slider-icon {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-left: 30px;
  margin-bottom: 30px; }

@media screen and (max-width: 767px) {
  .slider-icon {
    width: 50%; } }

.people {
  padding: 110px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8))), url(../images/img-people-bg.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8)), url(../images/img-people-bg.png) no-repeat center/cover; }
  .people-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px; }
  .people-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #999; }
  .people-avatar {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 110px;
    height: 110px;
    border-radius: 100rem; }
  .people-content {
    padding-left: 30px; }
  .people-content-name {
    text-transform: uppercase;
    color: black;
    margin-bottom: 20px;
    margin-top: 10px; }
  .people-content-position {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative; }
    .people-content-position:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background-color: #ea8383;
      width: 60px;
      height: 4px; }
  .people-content-desc {
    font-size: 1.5rem;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    padding-right: 30px; }

@media screen and (max-width: 1023px) {
  .people-list {
    grid-gap: 40px; }
  .people-item {
    display: block; }
  .people-content {
    padding-left: 0px; } }

@media screen and (max-width: 767px) {
  .people {
    padding: 50px 0; }
    .people-list {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      -ms-grid-columns: unset;
      grid-template-columns: unset; }
      .people-list::-webkit-scrollbar {
        display: none;
        width: 0; }
      .people-list > * {
        scroll-snap-align: start; } }

.blog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px; }

.blog-media {
  position: relative; }

.blog-media-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.blog-media-calendar {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: #95e1d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
  -webkit-transform: translate(-1rem, -1rem);
  transform: translate(-1rem, -1rem); }
  .blog-media-calendar span:first-child {
    font-size: 3rem;
    font-weight: bold; }
  .blog-media-calendar span:last-child {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.5rem; }

.blog-content {
  padding: 20px 0;
  border-bottom: 1px solid #ccc; }

.blog-content-title {
  color: black;
  text-transform: uppercase;
  line-height: 1.33;
  margin-bottom: 20px; }

.blog-content-desc {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
  line-height: 1.33; }

.blog-follow {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog-follow-item:not(:first-child) {
  margin-left: 20px; }

.blog-follow-item i {
  color: #95e1d3; }

.blog-follow-item span {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
  padding-left: 5px; }

@media screen and (max-width: 767px) {
  .blog-list {
    display: block; }
  .blog-item {
    margin-bottom: 30px; } }

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../images/img-map.png) no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/img-map.png) no-repeat center/cover;
  color: #ea8383;
  max-height: 200px; }
  .map i {
    margin-bottom: 10px;
    font-size: 2.4rem; }
  .map a {
    display: inline-block;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 20px;
    position: relative;
    cursor: pointer; }
  .map a:before {
    content: "";
    width: 60px;
    height: 4px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    background-color: #ea8383; }

.footer {
  padding-top: 70px;
  padding-bottom: 25px;
  background-color: #f8f8f8; }
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc; }
  .footer-contact {
    width: 40%; }
  .footer-blog {
    width: 35%; }
  .footer-instagram {
    width: 25%; }
  .footer-contact-brand {
    font-size: 4.6rem;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 40px; }
  .footer-contact-desc {
    color: #999;
    line-height: 1.33;
    font-family: "Roboto", sans-serif;
    margin-bottom: 40px; }
  .footer-contact-follow {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc; }
    .footer-contact-follow span:first-child {
      display: inline-block;
      font-weight: bold;
      font-size: 1.8rem; }
    .footer-contact-follow span:last-child {
      display: inline-block;
      padding-left: 5px; }
  .footer-contact-social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: 40px; }
    .footer-contact-social span {
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: #999;
      text-transform: capitalize;
      font-size: 1.5rem; }
  .footer-contact-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    gap: 0 15px;
    padding-left: 20px; }
    .footer-contact-list > * {
      color: #95e1d3;
      cursor: pointer;
      font-size: 2rem; }
  .footer-contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-contact-form input {
      border: 1px solid #ccc;
      outline: none;
      padding: 10px;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      color: #999; }
    .footer-contact-form .btn {
      padding: 0 30px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: white;
      font-weight: bold;
      border: none;
      background-color: #95e1d3;
      cursor: pointer; }
  .footer-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333; }
  .footer-blog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
  .footer-blog-content {
    padding-left: 20px; }
  .footer-blog-title {
    display: inline-block;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 10px; }
  .footer-blog-time {
    font-family: "Roboto", sans-serif;
    color: #999;
    font-style: italic;
    font-size: 1.3rem; }
  .footer-instagram-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 20px; }
    .footer-instagram-list img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .footer-instagram-more {
    border: none;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.3rem;
    color: #999;
    cursor: pointer; }
  .footer-signature {
    padding: 20px 0;
    text-align: center;
    color: #333; }
    .footer-signature span {
      color: #ea8383; }

@media screen and (max-width: 1023px) {
  .footer-inner {
    display: block;
    padding-bottom: 20px; }
    .footer-inner > * {
      width: 100%;
      margin-bottom: 30px; } }
